*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  padding: 3rem;
}

.product-table {
  width: 100%;
  border-collapse: collapse;
}

.product-table__row:nth-of-type(odd) {
  background: #eee;
}

.product-table th {
  background: #007BFF;
  color: white;
  font-weight: bold;
}
.product-table td,
.product-table th {
  padding: 6px;
  border: 1px solid #ccc;
  text-align: center;
}

.product-btn {
    border: none;
    padding: 5px;
    margin: 0 5px;
    font-size: 28x;
    cursor: pointer;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    transition: all 0.2s;
}

.product-increase {
    background: rgb(88, 197, 5);
}

.product-increase:hover {
    background: rgb(103, 230, 6);
}

.product-decrease {
    background: rgb(214, 186, 3);
}

.product-decrease:hover {
    background: rgb(235, 204, 2);
}

.product-table-hide {
    border: none;
    padding: 5px;
    cursor: pointer;
    font-size: 16px;
    color: white;
    background: rgb(196, 9, 40);
    border-radius: 5px;
    transition: all 0.2s;
}

.product-table-hide:hover {
    background: rgb(226, 9, 45);
}
